<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}  {% endblock %}</title>

    <link href="../../static/auction/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/auction/css/shop-homepage.css" rel="stylesheet">


{% block nav-bar%}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">AUKSHOP</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'profile' user.id %}">Your Profile</a></li>
        <li><a href="#">About Aukshop</a></li>
        
      </ul>
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Contact Us</a></li>

        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>




<!--     <nav class="navbar navbar-default" role="navigation">
        <div class="container">
                <h1>AUKSHOP!</h1>

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span cl
                    ass="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">Aukshop Home</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About Aukshop</a>
                    </li>
                    <li>

                        <a href="{% url 'profile' user.id %}">Your Profile</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav> -->

{% endblock%}

</head>

<body>
{% block content-high%}


{% endblock %}

{% block content-low %}
{% load mathfilters %}
    <div class="container">
      {% for item in items %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150" alt="">
                            <div class="caption">
<!--                                 <h4 class="pull-right">Buy Now for ${{item.price}}</h4>
 -->                                <h4><a href=" {% url 'productInfo' item.id %}">{{item.title}}</a>
                                </h4>
                                {% if item.endBidDate %} <p> Bid Ends at {{item.endBidDate}}</p> {% endif %}
<!--                                 <p> Bid Starting At ${{item.bidPrice}}</p>
 -->                                
                            </div>
                            {% if item.price %} <a href = "#" class="btn btn-primary btn-sg">Buy Now for ${{item.price|floatformat:2}}</a> {% endif %}
                        </br>
                                {% if item.bidPrice %} <a href = "{% url 'submitBid' item.id %}" class="btn btn-primary btn-sg">Bid Starting At ${{item.bidPrice|floatformat:2}}</a> {% endif %}

                                </br>
                            <div class="ratings">
                                <p class="pull-right">{{item.numReviews}} reviews</p>
                                <p>
                                    {% with numerator=item.sumStars denominator=item.numStarRequests %}
                                    {% if denominator != 0 %}
                                    {% for i in numerator|intdiv:denominator|get_range %}
                                        <span class="glyphicon glyphicon-star"></span>
                                    {% endfor %}
                                    {% endif %}
                                    {% endwith %}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
    </div>
{% endblock %}

</body>

</html>
