{% extends "auction/base.html" %}
{% block title %}Add Item{% endblock %}

{% block content-high %}
<div class="container">
      <div class="row">
      
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h6 class="panel-title text-center">Register Item</h6>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-md-9 col-lg-9 "> 

                <form enctype="multipart/form-data" method="post" action="{% url 'add_item' %}">

                <table>
                  {{form}}
                </table>

                {% csrf_token %}
                <input type="submit" class="btn btn-primary btn-sg" value="Register Item">
              </form>
                </div>
              </div>
            </div>
                 
            
          </div>
        </div>
      </div>
    </div>
{% endblock %}
