{% extends "auction/base.html" %}
{% block title%}Transaction History{% endblock %}

{% block content-high %}
	<table class="table table-striped table-bordered">
		<tr> 
			<td> Item </td>
			<td> Buyer </td>
			<td> Seller </td>
			<td> Buy it Now Price </td>
			<td> Bid Price </td>
		</tr>
	{% for item in items %}
		<tr>
			<td> {{item.title}} </td>
			<td> {% if item.buyer %} {{item.buyer}} {% endif %}</td>
			<td> {{item.seller}} </td>
			<td> {% if item.sellingChoice == 'BUY' or item.sellingChoice == 'BIDBUY' %} ${{item.price|floatformat:2}} {% endif %}</td>
			<td> {% if item.bidPrice %} ${{item.bidPrice|floatformat:2}} {% endif %}</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}