#id_title {
	position: relative;
	top: -6px;
	right: -20px;
}

#id_description {
	position: relative;
	top: -6px;
	right: -20px;
}

#id_category {
	position: relative;
	top: -6px;
	right: -20px;
}

#id_price {
	position: relative;
	top: -6px;
	right: -20px;
}

#id_bidPrice {
	position: relative;
	top: -6px;
	right: -20px;
}

#id_endBidDate {
	position: relative;
	top: -6px;
	right: -20px;
}

#id_sellingChoice {
	position: relative;
	top: -6px;
	right: -20px;
}