{% extends 'auction/base2.html' %}

{% block title %}About Aukshop{% endblock %}

{% block content-high %}
<p>
	Aukshop is a site where you can buy and sell items. When you sell an item, you have the option of 'Buy it Now', 'Bid', or both 'Buy it Now' and 'Bid'. <br>
	You can go to you profile page to view you inventory, see what you have recently bought, and see what you have recently sold. <br>
	If you are on the inventory page, you can edit items you have already uploaded. 
</p>
{% endblock %}