{% extends 'auction/notLoggedInNavbar.html' %}

{% block title %}About Aukshop{% endblock %}
{% block css %}
  {% load static %}
  <link href="{% static 'auction/css/shop-homepage.css' %}" rel="stylesheet">
  <link href="{% static 'auction/css/about.css' %}" rel="stylesheet">
{% endblock %}

{% block content-high %}
<body class="parallax"><!--Add this class if you have elements on the page with parallax backgrounds-->


  
    <!--Page Content-->
    <div class="about page-content">
    
    	<!--Hero Static-->
      <section class="hero-static">
      	<div class="overlay"></div>
      	<div class="bg-image" data-stellar-background-ratio="0.5"></div>
        <div class="content">
        	<div class="inner">
          	<h1>Awesome team.<br><span>Awesome shop.</span></h1>
          </div>
        </div>
      </section><!--Hero Static Close-->
      
      <!--About Info-->
      <section class="space-top space-bottom container">
      	<h2>About us</h2>
        <div class="row">
        	<div class="col-lg-5 col-md-6 col-sm-6">
          	<h3>Why we are cool</h3>
            <p class="p-style3">
              Aukshop is a site where you can buy and sell items. We give users the option of selling their products using either bidding or instant purchase or both. All bids end at midnight on the End Bid Date, which is specified once an item is registered.
            </p>
          </div>
        	<div class="col-lg-6 col-lg-offset-1 col-md-6 col-sm-6">
            <p class="p-style3"> 
              You can go to you profile page to view you inventory, see what you have recently bought, and see what you have recently sold. 
              If you are on the inventory page, you can edit items you have already uploaded.
            </p>
          </div>
        </div>
      </section><!--About Info Close-->
     
    </div><!--Page Content Close-->
    
   
    
    
  	<footer class="footer">
      <div class="container">
        <div class="row">

          <div class="contacts col-lg-3 col-md-3 col-sm-3">
            <h2>Contact</h2>
            <p class="p-style3">
              Carnegie Mellon University<br>
              Pittsburgh, PA<br>
              <a href="mailto:aukshop@gmail.com">aukshop@gmail.com</a><br>
            </p>
          </div>
        </div>
        <div class="copyright">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7">
              <p>&copy; 2014 Aukshop. All Rights Reserved.</p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5"></div>
          </div>
        </div>
      </div>
    </footer><!--Footer Close-->
    
  

    
    
  </body><!--Body Close-->
</html>
{% endblock %}