{% extends "auction/loggedInWithItems.html" %}
{% block title %}Edit Item{% endblock %}
{% block css %}
    {% load static %}
    <link href="{% static 'auction/css/editItem.css' %}" rel="stylesheet">
    <link href="{% static 'auction/css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content-high %}

<br>
<h2>Edit Item</h2>
<p id="error" class="message">
    {% for err in form.non_field_errors %}
        {{err}}
    {% endfor %}
</p>
<form action="" method="POST">
	<table>
    	<td>{{form.title.errors}}</td><tr><th>{{form.title.label_tag}}</th><td>{{form.title}}</td></tr>
        <td>{{form.description.errors}}</td><tr><th>{{form.description.label_tag}}</th><td>{{form.description}}</td></tr>
        <td>{{form.category.errors}}</td><tr><th>{{form.category.label_tag}}</th><td>{{form.category}}</td></tr>
        {% if buy == 'True' %}<td>{{form.price.errors}}</td><tr><th>{{form.price.label_tag}}</th><td>{{form.price}}</td></tr> {% endif %}
    </table>
	{% csrf_token %}
	<button class="btn btn-primary btn-sg"> Submit</button>
</form>
{% endblock %}