{% extends "auction/notLoggedInNavbar.html" %}

{% block title %}Forgot Password{% endblock %}

{% block css %}
    {% load static %}
    <link href="{% static 'auction/css/shop-homepage.css' %}" rel="stylesheet">
    <link href="{% static 'auction/css/boxes.css' %}" rel="stylesheet">
{% endblock %}

{% block content-high %}

<div class="container">    
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Forgot Password</div>
                <div id="login"><a href="{% url 'login' %}" id="text"> Login </a> </div>
            </div>     

            <div id="newPassword" class="panel-body" >
                <form method="post" action="{% url 'forgotPassword' %}">
                    <table>
                        {{form}}
                    </table>
                    <br>
                    <input type="submit" value="Send Email" class="btn btn-primary btn-sg"/>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
