{% extends "auction/base1.html" %}
{% block title%}New Password{% endblock %}

{% block content-high %}

<div class="container">    
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">New Password</div>
            </div>     
            
            <div id="newPassword" class="panel-body" >
                <form method="post" action="">
                    <table>
                        {{form}}
                    </table>
                    <input type="submit" class="btn btn-primary btn-sg" value="Submit" />
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
