{% extends "auction/loggedInWithItems.html" %}
{% block title %}Category Page{% endblock %}
{% block css %}
  {% load static %}
  <link href="{% static 'auction/css/shop-homepage.css' %}" rel="stylesheet">
  <link href="{% static 'auction/css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content-high %}
<br>
<div class="container">
 <section>
   <form action="{% url 'showCategory' id %}" method="post">

     <div class="col-md-6">
      <div id="custom-search-input">
        <div class="input-group col-md-12 col-md-offset-6">
         {{form.search}}
         <input type="submit" id="searchBar" value="Search" class="btn btn-primary btn-sg"/>
       </div>
     </div>
   </div>


   {% csrf_token %}

 </form>
</section>
</div>
<div>
  {% if not items %}
  <p class="message"> 
   No items within this category
 </p>
 {% endif %}
</div>


{% endblock %}